<?xml version="1.0"?>
<ruleset name="PSR-2 + PhpDoc">
    <!-- Configs -->
    <arg name="colors" />
    <arg value="sp" />

    <!-- Rules -->
    <rule ref="PSR2"/>

    <rule ref="Generic">
        <!-- Covered by PSR-1/PSR-2 -->
        <exclude name="Generic.Files.EndFileNewline"/>
        <exclude name="Generic.Files.EndFileNoNewline"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie.BraceOnNewLine"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceBsdAllman.BraceOnSameLine"/>
        <exclude name="Generic.PHP.ClosingPHPTag"/>
        <exclude name="Generic.Classes.OpeningBraceSameLine.BraceOnNewLine"/>

        <!-- Alternative choice -->
        <exclude name="Generic.Arrays.DisallowLongArraySyntax"/>
        <exclude name="Generic.Formatting.NoSpaceAfterCast"/>
        <exclude name="Generic.PHP.UpperCaseConstant"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent"/>

        <exclude name="Generic.CodeAnalysis.ForLoopShouldBeWhileLoop"/>
        <exclude name="Generic.CodeAnalysis.ForLoopWithTestFunctionCall"/>
        <exclude name="Generic.Files.LowercasedFilename"/>
        <exclude name="Generic.Formatting.SpaceAfterNot.Incorrect"/>
    </rule>

    <rule ref="PEAR.Commenting">
        <exclude name="PEAR.Commenting.FileComment.Missing"/>
        <exclude name="PEAR.Commenting.ClassComment.InvalidAuthors"/>
        <exclude name="PEAR.Commenting.ClassComment.IncompleteLicense"/>
        <exclude name="PEAR.Commenting.ClassComment.MissingCategoryTag"/>
        <exclude name="PEAR.Commenting.ClassComment.MissingLinkTag"/>
    </rule>

    <!-- Files -->
    <file>./app</file>
</ruleset>